<div class="row">
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="title">Справочные данные</h4>
        <p class="card-description">Основные справочники, используемые в системе</p>
        <ngb-tabset class="tab-basic vertical-tab tab-solid tab-solid-primary">
          <ngb-tab>
            <ng-template ngbTabTitle>
              <i class="mdi mdi-home-outline"></i>Типы договоров\сделок
            </ng-template>
            <ng-template ngbTabContent>
              <div class="row">
                <div class="col-lg-12 grid-margin stretch-card">
                  <div class="card">
                    <div class="card-body">
                      <h4 class="title">Типы договоров\сделок</h4>
                      <p class="card-description">
                        Справочник с основными типами договоров\сделок совершаемых с объектами недвижимости
                      </p>
                      <div class="row">
                        <div class="col-lg-12 text-right mb-3">
                          <button type="submit" class="btn btn-success btn-fw"><i class="fa fa-plus-circle"></i> Добавить</button>
                        </div>
                      </div>
                      <div class="table-responsive">
                        <table class="table table-bordered">
                          <thead>
                          <tr>
                            <th>
                              #
                            </th>
                            <th>
                              Название
                            </th>
                            <th>
                              Действие
                            </th>
                          </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>
                                1
                              </td>
                              <td>
                                Купля-продажа
                              </td>
                              <td>
                                <div class="text-center">
                                  <button type="submit" class="btn btn-info btn-fw mr-4"><i class="fa fa-pencil"></i> Изменить</button>
                                  <button type="submit" class="btn btn-danger btn-fw"><i class="fa fa-minus-circle"></i> Удалить</button>
                                </div>
                              </td>
                            </tr>
                            <tr>
                              <td>
                                2
                              </td>
                              <td>
                                Аренда
                              </td>
                              <td>
                                <div class="text-center">
                                  <button type="submit" class="btn btn-info btn-fw mr-4"><i class="fa fa-pencil"></i> Изменить</button>
                                  <button type="submit" class="btn btn-danger btn-fw"><i class="fa fa-minus-circle"></i> Удалить</button>
                                </div>
                              </td>
                            </tr>
                            <tr>
                              <td>
                                3
                              </td>
                              <td>
                                Дарение
                              </td>
                              <td>
                                <div class="text-center">
                                  <button type="submit" class="btn btn-info btn-fw mr-4"><i class="fa fa-pencil"></i> Изменить</button>
                                  <button type="submit" class="btn btn-danger btn-fw"><i class="fa fa-minus-circle"></i> Удалить</button>
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle>
              <i class="mdi mdi-account-outline"></i>Типы объектов недвижимости
            </ng-template>
            <ng-template ngbTabContent>
              <div class="row">
                <div class="col-lg-12 grid-margin stretch-card">
                  <div class="card">
                    <div class="card-body">
                      <h4 class="title">Типы объектов недвижимости</h4>
                      <p class="card-description">
                        Справочник с основными типами объектов недвижимости
                      </p>
                      <div class="row">
                        <div class="col-lg-12 text-right mb-3">
                          <button type="submit" class="btn btn-success btn-fw"><i class="fa fa-plus-circle"></i> Добавить</button>
                        </div>
                      </div>
                      <div class="table-responsive">
                        <table class="table table-bordered">
                          <thead>
                          <tr>
                            <th>
                              #
                            </th>
                            <th>
                              Название
                            </th>
                            <th>
                              Действие
                            </th>
                          </tr>
                          </thead>
                          <tbody>
                          <tr>
                            <td>
                              1
                            </td>
                            <td>
                              Жилая недвижимость
                            </td>
                            <td>
                              <div class="text-center">
                                <button type="submit" class="btn btn-info btn-fw mr-4"><i class="fa fa-pencil"></i> Изменить</button>
                                <button type="submit" class="btn btn-danger btn-fw"><i class="fa fa-minus-circle"></i> Удалить</button>
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              2
                            </td>
                            <td>
                              Коммерческая недвижимость
                            </td>
                            <td>
                              <div class="text-center">
                                <button type="submit" class="btn btn-info btn-fw mr-4"><i class="fa fa-pencil"></i> Изменить</button>
                                <button type="submit" class="btn btn-danger btn-fw"><i class="fa fa-minus-circle"></i> Удалить</button>
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              3
                            </td>
                            <td>
                              Общественная недвижимость
                            </td>
                            <td>
                              <div class="text-center">
                                <button type="submit" class="btn btn-info btn-fw mr-4"><i class="fa fa-pencil"></i> Изменить</button>
                                <button type="submit" class="btn btn-danger btn-fw"><i class="fa fa-minus-circle"></i> Удалить</button>
                              </div>
                            </td>
                          </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle>
              <i class="mdi mdi-account-outline"></i>Статусы договоров
            </ng-template>
            <ng-template ngbTabContent>
              <div class="row">
                <div class="col-lg-12 grid-margin stretch-card">
                  <div class="card">
                    <div class="card-body">
                      <h4 class="title">Статусы договоров</h4>
                      <p class="card-description">
                        Справочник со статусами договоров
                      </p>
                      <div class="row">
                        <div class="col-lg-12 text-right mb-3">
                          <button type="submit" class="btn btn-success btn-fw"><i class="fa fa-plus-circle"></i> Добавить</button>
                        </div>
                      </div>
                      <div class="table-responsive">
                        <table class="table table-bordered">
                          <thead>
                          <tr>
                            <th>
                              #
                            </th>
                            <th>
                              Название
                            </th>
                            <th>
                              Действие
                            </th>
                          </tr>
                          </thead>
                          <tbody>
                          <tr>
                            <td>
                              1
                            </td>
                            <td>
                              Действующий
                            </td>
                            <td>
                              <div class="text-center">
                                <button type="submit" class="btn btn-info btn-fw mr-4"><i class="fa fa-pencil"></i> Изменить</button>
                                <button type="submit" class="btn btn-danger btn-fw"><i class="fa fa-minus-circle"></i> Удалить</button>
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              2
                            </td>
                            <td>
                              Ожидает регистрации в Росреестре
                            </td>
                            <td>
                              <div class="text-center">
                                <button type="submit" class="btn btn-info btn-fw mr-4"><i class="fa fa-pencil"></i> Изменить</button>
                                <button type="submit" class="btn btn-danger btn-fw"><i class="fa fa-minus-circle"></i> Удалить</button>
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              3
                            </td>
                            <td>
                              Отменён
                            </td>
                            <td>
                              <div class="text-center">
                                <button type="submit" class="btn btn-info btn-fw mr-4"><i class="fa fa-pencil"></i> Изменить</button>
                                <button type="submit" class="btn btn-danger btn-fw"><i class="fa fa-minus-circle"></i> Удалить</button>
                              </div>
                            </td>
                          </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle>
              <i class="mdi mdi-account-outline"></i>Виды платежей
            </ng-template>
            <ng-template ngbTabContent>
              <div class="row">
                <div class="col-lg-12 grid-margin stretch-card">
                  <div class="card">
                    <div class="card-body">
                      <h4 class="title">Виды платежей</h4>
                      <p class="card-description">
                        Справочник с видами платежей
                      </p>
                      <div class="row">
                        <div class="col-lg-12 text-right mb-3">
                          <button type="submit" class="btn btn-success btn-fw"><i class="fa fa-plus-circle"></i> Добавить</button>
                        </div>
                      </div>
                      <div class="table-responsive">
                        <table class="table table-bordered">
                          <thead>
                          <tr>
                            <th>
                              #
                            </th>
                            <th>
                              Название
                            </th>
                            <th>
                              Действие
                            </th>
                          </tr>
                          </thead>
                          <tbody>
                          <tr>
                            <td>
                              1
                            </td>
                            <td>
                              Единоразовый
                            </td>
                            <td>
                              <div class="text-center">
                                <button type="submit" class="btn btn-info btn-fw mr-4"><i class="fa fa-pencil"></i> Изменить</button>
                                <button type="submit" class="btn btn-danger btn-fw"><i class="fa fa-minus-circle"></i> Удалить</button>
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              2
                            </td>
                            <td>
                              Ежемесячный
                            </td>
                            <td>
                              <div class="text-center">
                                <button type="submit" class="btn btn-info btn-fw mr-4"><i class="fa fa-pencil"></i> Изменить</button>
                                <button type="submit" class="btn btn-danger btn-fw"><i class="fa fa-minus-circle"></i> Удалить</button>
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              3
                            </td>
                            <td>
                              Рента
                            </td>
                            <td>
                              <div class="text-center">
                                <button type="submit" class="btn btn-info btn-fw mr-4"><i class="fa fa-pencil"></i> Изменить</button>
                                <button type="submit" class="btn btn-danger btn-fw"><i class="fa fa-minus-circle"></i> Удалить</button>
                              </div>
                            </td>
                          </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>
    </div>
  </div>
</div>
