<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="/analytics" routerLinkActive="active">
        <i class="menu-icon fa fa-gavel icon-lg"></i>
        <span class="menu-title text-uppercase">Аналитика</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/contracts" routerLinkActive="active">
        <i class="menu-icon fa fa-handshake-o icon-lg"></i>
        <span class="menu-title text-uppercase">Договоры</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/auxsystem" routerLinkActive="active">
        <i class="menu-icon fa fa-external-link-square icon-lg"></i>
        <span class="menu-title text-uppercase">Внешние системы</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/refbooks" routerLinkActive="active">
        <i class="menu-icon fa fa-book icon-lg"></i>
        <span class="menu-title text-uppercase">Справочники</span>
      </a>
    </li>
  </ul>
</nav>
