<div class="row">
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="title">Сделки с недвижимостью</h4>
        <p class="card-description">
          Договора по объектам недвижимости
        </p>
        <div class="col-lg-12 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <!--<div class="row">
                <div class="col-lg-12 text-right mb-3">
                  <button type="submit" class="btn btn-success btn-fw"><i class="fa fa-plus-circle"></i> Добавить</button>
                </div>
              </div>-->
              <div class="table-responsive">
                <table class="table table-bordered table-hover">
                  <thead>
                  <tr>
                    <th>Номер договора</th>
                    <th>Дата заключения</th>
                    <th>Тип сделки</th>
                    <th>Объект недвижимости</th>
                    <th>Адрес</th>
                    <th>Продавец</th>
                    <th>Покупатель</th>
                    <th>Вид платежа</th>
                    <th>Стоимость</th>
                    <th>Статус</th>
                    <th></th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td>1</td>
                    <td>01.01.2019</td>
                    <td>Купля-Продажа</td>
                    <td>Дом</td>
                    <td>г. Новочеркасск, ул. Московская, 11</td>
                    <td>Иванов Иван Иванович</td>
                    <td>Петров Пётр Петрович</td>
                    <td>Единоразовый</td>
                    <td>10 000 000 руб</td>
                    <td>
                      <label class="badge badge-info">Ожидает оформления в Росреестре</label>
                    </td>
                    <td>
                      <div class="text-center">
                        <button type="submit" class="btn btn-info btn-fw mr-4"><i class="fa fa-pencil"></i> Подробнее</button>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>03.01.2019</td>
                    <td>Аренда</td>
                    <td>Квартира</td>
                    <td>г. Новочеркасск, ул. Пушкинская, 11, кв. 4</td>
                    <td>Возьмак Геогрий Волкович</td>
                    <td>Петров Пётр Петрович</td>
                    <td>Ежемесячный</td>
                    <td>10 000 руб</td>
                    <td>
                      <label class="badge badge-success">Действующий</label>
                    </td>
                    <td>
                      <div class="text-center">
                        <button type="submit" class="btn btn-info btn-fw mr-4"><i class="fa fa-pencil"></i> Подробнее</button>
                      </div>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
