<div class="row">
  <div class="col-lg-8 grid-margin pagination-centered">
    <div class="card">
      <div class="card-body">
        <h4 class="title">Поиск недвижимости в системе ЕГРН</h4>
        <p class="card-description">
          Форма поиска недвижимости с помощью кадастрового номера или адреса объекта недвижимости
        </p>
        <form class="forms-sample">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Кадастровый номер: </label>
            <div class="col-sm-8">
              <input class="form-control" [(ngModel)]="searchData.CadNumber" name="CadNumber" placeholder="Кадастровый номер">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Адрес: </label>
            <div class="col-sm-8">
              <input class="form-control" [(ngModel)]="searchData.Address" name="Address" placeholder="Адрес">
            </div>
          </div>
          <div class="text-right">
            <button (click)="searchObjectCall(searchData)" class="btn btn-success mr-2">Найти</button>
            <button type="reset" class="btn btn-light">Очистить</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div *ngIf="estates" class="row">
  <div class="col-lg-12 grid-margin">
    <div class="card">
      <div class="card-body">
        <h4 class="title">Найденные объекты недвижимости</h4>
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
            <tr>
              <th>
                Адрес
              </th>
              <th>
                Кадастровый номер
              </th>
              <th>
                Тип
              </th>
              <th>
                Область
              </th>
              <th>
                Категория
              </th>
              <th>
                Действия
              </th>
            </tr>
            </thead>
            <tbody>
              <tr *ngFor="let estate of estates?.objects">
                <td>
                  {{estate.ADDRESS}}
                </td>
                <td>
                  {{estate.CADNOMER}}
                </td>
                <td>
                  {{estate.TYPE}}
                </td>
                <td>
                  {{estate.AREA === "" ? estates.region : estate.AREA}}
                </td>
                <td>
                  {{estate.CATEGORY}}
                </td>
                <td>
                  <div>
                    <button (click)="getMoreDetails(estate.CADNOMER)" class="btn btn-success mr-2">Подробнее</button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
