<div class="row">
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="title">Анализ данных иска</h4>
        <p class="card-description">
          Анализ исковых данных для прогназирования исхода судебного разбирательства
        </p>
        <div class="col-md-12 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <ngb-tabset class="tab-solid tab-solid-primary">
                <ngb-tab>
                  <ng-template ngbTabTitle>
                    <i class="mdi mdi-home-outline"></i>Иск по купле-продаже
                  </ng-template>
                  <ng-template ngbTabContent>
                    <form class="forms-sample">
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="ownership">Установлены ли права собственности? (Выписка ЕГРН, Документ о вступлении в наследство)</label>
                            <select class="form-control" [(ngModel)]="SaleModel.ownership" name="ownership" id="ownership">
                              <option value="0" selected>Не установлены</option>
                              <option value="1">Установлены, выписка из ЕГРН</option>
                              <option value="2">Установлены, вступление в наследство</option>
                            </select>
                          </div>
                          <div class="card">
                            <div class="card-body">
                              <p class="card-title">Сведения о договоре</p>
                              <div class="row">
                                <div class="col-md-6">
                                  <div class="form-group">
                                    <label for="contract_of_sale">Заключён ли договор купли-продажи?</label>
                                    <select class="form-control" [(ngModel)]="SaleModel.contract_of_sale" name="contract_of_sale" id="contract_of_sale">
                                      <option value="0" selected>Нет</option>
                                      <option value="1">Да</option>
                                    </select>
                                  </div>
                                  <div class="form-group">
                                    <label for="contract_observed">Соблюдена форма договора?</label>
                                    <select class="form-control" [(ngModel)]="SaleModel.contract_observed" name="contract_observed" id="contract_observed">
                                      <option value="0" selected>Нет</option>
                                      <option value="1">Да</option>
                                    </select>
                                  </div>
                                  <div class="form-group">
                                    <label for="act">Заключён акт приёма-передачи?</label>
                                    <select class="form-control" [(ngModel)]="SaleModel.act" name="act" id="act">
                                      <option value="0" selected>Нет</option>
                                      <option value="1">Да</option>
                                    </select>
                                  </div>
                                </div>
                                <div class="col-md-6">
                                  <div class="form-group">
                                    <label for="concluded_laws">Договор заключён с учётом законов РФ?</label>
                                    <select class="form-control" [(ngModel)]="SaleModel.concluded_laws" name="concluded_laws" id="concluded_laws">
                                      <option value="0" selected>Нет</option>
                                      <option value="1">Да</option>
                                    </select>
                                  </div>
                                  <div class="form-group">
                                    <label for="payment_contract">Произведена ли оплата согласно условиям договора?</label>
                                    <select class="form-control" [(ngModel)]="SaleModel.payment_contract" name="payment_contract" id="payment_contract">
                                      <option value="0" selected>Нет</option>
                                      <option value="1">Да</option>
                                    </select>
                                  </div>
                                  <div class="form-group">
                                    <label for="ownership_it">Право собственности зарегистрировано?</label>
                                    <select class="form-control" [(ngModel)]="SaleModel.ownership_it" name="ownership_it" id="ownership_it">
                                      <option value="0" selected>Нет, собственник уколняется, не уведомлён</option>
                                      <option value="1">Нет, собственник уколняется, уведомлён</option>
                                      <option value="2">Да, зарегистрировано</option>
                                    </select>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="facts_imaginary_feigned_transactions">Имеются факты мнимой и притворной сделок?</label>
                            <select class="form-control" [(ngModel)]="SaleModel.facts_imaginary_feigned_transactions" name="facts_imaginary_feigned_transactions" id="facts_imaginary_feigned_transactions">
                              <option value="0" selected>Нет, достоверно не установлено</option>
                              <option value="1">Да, Имеются доказательства</option>
                            </select>
                          </div>
                          <div class="form-group">
                            <label for="discharged_from_house_book">Обязательство выписаться из домовой книги в срок</label>
                            <select class="form-control" [(ngModel)]="SaleModel.discharged_from_house_book" name="discharged_from_house_book" id="discharged_from_house_book">
                              <option value="0" selected>Не выполнено</option>
                              <option value="1">Выполнено</option>
                            </select>
                          </div>
                          <div class="form-group">
                            <label for="rights_family">Права семьи продавца соблюдены?</label>
                            <select class="form-control" [(ngModel)]="SaleModel.rights_family" name="rights_family" id="rights_family">
                              <option value="0" selected>Нет</option>
                              <option value="1">Да</option>
                            </select>
                          </div>
                          <div class="form-group">
                            <label for="objections_co_owners">Есть ли возражения от совладельцев?</label>
                            <select class="form-control" [(ngModel)]="SaleModel.objections_co_owners" name="objections_co_owners" id="objections_co_owners">
                              <option value="0" selected>Нет</option>
                              <option value="1">Да</option>
                            </select>
                          </div>
                          <div class="form-group">
                            <label for="priority_co_owner">Соблюдён ли приоритет на покупку доли совладельцем?</label>
                            <select class="form-control" [(ngModel)]="SaleModel.priority_co_owner" name="priority_co_owner" id="priority_co_owner">
                              <option value="0" selected>Нет</option>
                              <option value="1">Да</option>
                            </select>
                          </div>
                          <div class="form-group">
                            <label for="condition_subject">Соответствует ли состояние недвижимости предмету договора?</label>
                            <select class="form-control" [(ngModel)]="SaleModel.condition_subject" name="condition_subject" id="condition_subject">
                              <option value="0" selected>Нет</option>
                              <option value="1">Да</option>
                            </select>
                          </div>
                          <div class="form-group">
                            <label for="fact_bearing">Установлен факт несения бремени по содержанию недвижимости (оплата ЖКУ, ремонт (чеки) и т.д.)?</label>
                            <select class="form-control" [(ngModel)]="SaleModel.fact_bearing" name="fact_bearing" id="fact_bearing">
                              <option value="0" selected>Нет</option>
                              <option value="1">Да</option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="text-right mt-3">
                        <button (click)="GetSaleClaimResult(SaleModel)" class="btn btn-success mr-2">Проанализировать</button>
                        <button type="reset" class="btn btn-light">Очистить</button>
                      </div>
                    </form>
                  </ng-template>
                </ngb-tab>
                <ngb-tab>
                  <ng-template ngbTabTitle>
                    <i class="mdi mdi-account-outline"></i>Иск по аренде
                  </ng-template>
                  <ng-template ngbTabContent>
                    <form class="forms-sample">
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="ownershipR">Установлены ли права собственности?</label>
                            <select class="form-control" [(ngModel)]="RentModel.ownership" name="ownership" id="ownershipR">
                              <option value="0" selected>Не установлены</option>
                              <option value="1">Установлены, выписка из ЕГРН</option>
                            </select>
                          </div>
                          <div class="card">
                            <div class="card-body">
                              <p class="card-title">Сведения о договоре</p>
                              <div class="row">
                                <div class="col-md-6">
                                  <div class="form-group">
                                    <label for="contract_of_rentR">Заключён ли договор аренды?</label>
                                    <select class="form-control" [(ngModel)]="RentModel.contract_of_rent" name="contract_of_rent" id="contract_of_rentR">
                                      <option value="0" selected>Нет</option>
                                      <option value="1">Да</option>
                                    </select>
                                  </div>
                                  <div class="form-group">
                                    <label for="purpose_leaseR">Соблюдена цель аренды - проживание, субаренда;</label>
                                    <select class="form-control" [(ngModel)]="RentModel.purpose_lease" name="condition_subject" id="purpose_leaseR">
                                      <option value="0" selected>Нет</option>
                                      <option value="1">Да, проживание, без субаренды</option>
                                      <option value="2">Да, без проживания, субаренда</option>
                                      <option value="3">Да, проживание, субаренда</option>
                                    </select>
                                  </div>
                                  <div class="form-group">
                                    <label for="all_people_includedR">Включены все лица которые будут проживать?</label>
                                    <select class="form-control" [(ngModel)]="RentModel.all_people_included" name="all_people_included" id="all_people_includedR">
                                      <option value="0" selected>Нет</option>
                                      <option value="1">Да</option>
                                    </select>
                                  </div>
                                  <div class="form-group">
                                    <label for="act_useR">Имеется акт приёма-передачи?</label>
                                    <select class="form-control" [(ngModel)]="RentModel.act_use" name="act_use" id="act_useR">
                                      <option value="0" selected>Нет</option>
                                      <option value="1">Да</option>
                                    </select>
                                  </div>
                                </div>
                                <div class="col-md-6">
                                  <div class="form-group">
                                    <label for="prolongation_conditionsR">Условие прологации соблюдены?</label>
                                    <select class="form-control" [(ngModel)]="RentModel.prolongation_conditions" name="prolongation_conditions" id="prolongation_conditionsR">
                                      <option value="0" selected>Нет</option>
                                      <option value="1">Да</option>
                                    </select>
                                  </div>
                                  <div class="form-group">
                                    <label for="payment_contractR">Произведена ли оплата согласно условиям договора?</label>
                                    <select class="form-control" [(ngModel)]="RentModel.payment_contract" name="payment_contract" id="payment_contractR">
                                      <option value="0" selected>Нет</option>
                                      <option value="1">Да</option>
                                    </select>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="objections_co_ownersR">Есть ли возражения от совладельцев?</label>
                            <select class="form-control"[(ngModel)]="RentModel.objections_co_owners" name="objections_co_owners" id="objections_co_ownersR">
                              <option value="0" selected>Нет</option>
                              <option value="1">Да</option>
                            </select>
                          </div>
                          <div class="form-group">
                            <label for="condition_subjectR">Соответствует ли состояние недвижимости предмету договора?</label>
                            <select class="form-control" [(ngModel)]="RentModel.condition_subject" name="condition_subject" id="condition_subjectR">
                              <option value="0" selected>Нет</option>
                              <option value="1">Да</option>
                            </select>
                          </div>
                          <div class="form-group">
                            <label for="payment_utility_servicesR">Производится ли оплата ЖКУ?</label>
                            <select class="form-control" [(ngModel)]="RentModel.payment_utility_services" name="payment_utility_services" id="payment_utility_servicesR">
                              <option value="0" selected>Нет, не включено в договор</option>
                              <option value="1">Нет, нарушение договора</option>
                              <option value="2">Да</option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="text-right mt-3">
                        <button (click)="GetRentClaimResult(RentModel)" class="btn btn-success mr-2">Проанализировать</button>
                        <button type="reset" class="btn btn-light">Очистить</button>
                      </div>
                    </form>
                  </ng-template>
                </ngb-tab>
              </ngb-tabset>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
