<footer class="footer">
  <div class="d-sm-flex justify-content-center justify-content-sm-between">
    <span class="text-muted text-center text-sm-left float-sm-right d-block d-sm-inline-block">Copyright © 2019 Naraevskiy Oleg. All rights reserved.</span>
    <span class="text-muted float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Developed to demonstrate the technology in the framework of the master's thesis</span>
  </div>
</footer>
